@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Merriweather:wght@400;700;900&family=Nunito:wght@200;300;400;700&display=swap');
$primary: "Nunito", sans-serif;
$header: "Merriweather", sans-serif;
$text: "Lato", sans-serif;