@import '_colors';
@import '_layout';
@import '_fonts';

body {
    background: #eeaeca;
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    font-family: $primary;
    font-weight: 100;
    height: 100%;
}

#headerNav {
    font-size: 1.5rem;
    & .navbar-brand {
    color: $mint;
    font-size: 1.5rem;
    }
    & .nav-link {
        color: #555;
        &:hover {
            color: $pink;
        }
    }
    & .scroll.scrolled {
        color: $yellow;
    }
}
.navbar.scrolled {
    background: $mint;
    transition: background 1s;
}


h1 span {
    color: $mint;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

.img-thumbnail {
    padding: 0;
    border: 1px solid #f498b8ee;
}

#headingGroup > h1 {
    font-family: $header;
    color: $yellow;
    font-size: 4em;
    font-weight: 100;
    text-shadow: 2px 4px 3px #55555555;
    
}

@media (max-width: 1200px) {
    #headingGroup h1 {
        font-size: 3.3rem;
    }
}

.blurb {
    text-align: center;
}

.blurb h2 {
    color: $mint;
    font-weight: 100;
    font-size: 2.5rem;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

.blurb .lead {
    font-family: $text;
    font-weight: 100;
    color: #fff;
    font-size: 1.275rem;
    line-height: 2rem;
    padding: 0 1rem;
}

.sectionMargin {
    margin: 3rem auto;
}

.btn {
    color: #fff;
    background-color: $babyBlue;
    text-shadow: 1px 0.5px #555;
    border-color: #555;
    letter-spacing: 0.04rem;
    &:hover {
        background-color: $yellow;
        color: #fff;
    }
}

hr {
    border: 0;
    margin: 1.35em auto;
    max-width: 100%;
    background-position: 50%;
    box-sizing: border-box;
  
  &.slash-1 {
    height: 10px;
    color: $yellow;
    background-image: linear-gradient(-45deg,
      transparent,
      transparent 25%,
      currentColor 25%,
      currentColor 50%,
      transparent 50%,
      transparent 75%,
      currentColor 75%);
    background-size: 10px 10px;
    width: 250px;
  }
}


/* ===============
About Page CSS
================ */

#about-align {
    align-items: flex-start;
    @media (min-width: 992px){
        align-items: center;
    }
}

.about-image {
    border-radius: 50%
}

p.title {
    font-family: $text;
    font-weight: 400;
    color: #555;
}


#about-container {
    margin-top: 10%;
}

#about-jumbo h1 {
    text-align: center;
}

ul.lead > li {
    list-style: none;
}


/* ===============
News Page CSS
================ */

.post {
    background-color: #55555550;
    border: 1.5px solid #555;
    border-radius: 0.5rem;
    margin: 2rem 0;
    padding: 2rem;
    & > img {
        width: 600px;
        height: auto;
    }
    & > p a {
        color: $yellow;
    }
}

.blurb.aside {
    label, ul {
        font-weight: 400;
        color: #444;
        padding: 0.5rem;
        list-style: none;
    }
    li {
        margin-bottom: 1rem;
        text-align: left;
        & > i {
            padding-right: 0.25rem;
        }
    }
}


/* ===============
Admin Page CSS
================ */
#postForm {
    & > label {
        font-size: 1.2rem;
        width: 90%;
        text-align: left;
        padding-top: 0.5rem;
    }
    & > input {
        width: 90%;
    }
    & > textarea {
        width: 90%;
        height: 5rem;
    }
}


/* ===============
Footer Page CSS
================ */

#footer {
    text-align: center;
    width: 100%;
    color: black;
    background-color: $babyBlue;
    border-top: 1px solid #55555555;
    .footer-item {
        width: 50%;
        margin-block-start: 0;
        margin-block-end: 0;
        
    }
}

