<%- include("partials/header") %>

<div class="container-fluid">
    <div class="row align-items-center">
        <div class="col-lg-4">
            <img class="img-fluid rounded-circle" src="/images/about_square2.jpg">
            <h2>Elisa Peters</h2>
            <h4>Owner of "The Ice Crime Machine"</h4>
        </div>
        <div class="col-lg-4">
            <img class="img-fluid rounded-circle" src="/images/about_square3.jpg">
            <h2>Elisa Peters</h2>
            <h4>Owner of "The Ice Crime Machine"</h4>
        </div>
        <div class="col-lg-4">
            <img class="img-fluid rounded-circle" src="/images/about_square4.jpg">
            <h2>Elisa Peters</h2>
            <h4>Owner of "The Ice Crime Machine"</h4>
        </div>
    </div>
</div>


<%- include("partials/footer") %>