<%- include("partials/header") %>
<section class="container-fluid sectionMargin">
    <div class="row align-items-center">
        <article class="blurb col-md-3">
            <h2>Who We Are:</h2>
            <hr class="slash-1">
            <p class="lead">We are a group of ice cream makers that vary from shop owning artisans to household hobbyists. Our goal is to share our creations in ever changing locals to keep the joy of ice cream fun and exciting as ever.</p>
        </article>
        <div class="col-md-6">
            <img src="/images/about1.png" class="img-fluid img-thumbnail" alt="Responsive image">
        </div>
        <article class="blurb col-md-3">
            <h2>Contact Info</h2>
            <hr class="slash-1">
            <ul class="lead p-0">
                <li>Phone: (989)244-0981</li>
                <li>Email: C&C@Cup&Cone.com</li>
                <li>For Event Inquiries: events@Cup&Cone.com</li>
            </ul>
            <p class="lead">If you have an event space available, please reach out! We are always looking for a new place to Pop-Up</p>
        </article>
    </div>
</section>

<section class="mt-5">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-6 order-1 order-md-2">
                <img class="img-fluid rounded-circle img-thumbnail" src="/images/about2.png">
            </div>          
            <div class="col-md-6 order-2 order-md-1">
                <div class="row justify-content-center">
                    <div class="blurb text-center col-10 col-lg-8 mt-5">
                        <h2>Andres Glover</h2>
                        <p class="title">Founder</h4>
                        <hr class="slash-1">          
                        <p class="lead">Founder of Cup & Cone and Owner of "Honeycone." Known for his honeycomb lined cones and specially paired ice cream flavors to match, Andres embraced the ice cream scene young and made it his own.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mt-5">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-6">
                <img class="img-fluid rounded-circle img-thumbnail" src="/images/about3.png">
            </div>
           <div class="col-md-6">
                <div class="row justify-content-center">
                    <div class="blurb text-center col-10 col-lg-8 mt-5">
                        <h2>Elisa Peters</h2>
                        <p class="title">Event Cordinator</p>
                        <hr class="slash-1">
                        <p class="lead">Self proclaimed "Ice Cream Extraordinaire "Keeper of the keys" as Andres likes to call her. Elisa is our event planner and the person that brings our events to pop!</p>
                    </div>
                </div>   
            </div> 
        </div>
    </div>
</section>

<section class="mt-5">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-6 order-1 order-md-2">
                <img class="img-fluid rounded-circle img-thumbnail" src="/images/about4.png">
            </div>          
            <div class="col-md-6 order-2 order-md-1">
                <div class="row justify-content-center">
                    <div class="blurb text-center col-10 col-lg-8 mt-5">
                        <h2>Mikaila McAlister</h2>
                        <p class="title">Flavor Cordinator</p>
                        <hr class="slash-1">
                        <p class="lead">Owner of "The Ice Crime Machine" and our and Our very own ice cream mixoligist. Pioneering flavors like avocado, (a texture experiance like no other) and what she likes to call "Chewy Pink." Elisa makes sure every one of our events is a unique experiance like no other.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<%- include("partials/footer") %>