<%- include("partials/header") %>

<h1>
    Welcome To the Events Page -
    Have a large event photo across the top.
    a small RSVP form,
    then cards of upcoming events underneath that
</h1>

<%- include("partials/footer") %>