<%- include("partials/header") %>

    <section>
        <div class="container-fluid px-0">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div id="headingGroup" class="text-center text-white d-none d-lg-block mt-5">
                        <h1>CUP<span>/</span>&<span>/</span>CONE</h1>
                        <h1>CUP<span>/</span>&<span>/</span>CONE</h1>
                        <h1>CUP<span>/</span>&<span>/</span>CONE</h1>
                        <h1>CUP<span>/</span>&<span>/</span>CONE</h1>
                        <h1>CUP<span>/</span>&<span>/</span>CONE</h1>
                        <h1>CUP<span>/</span>&<span>/</span>CONE</h1>
                        <h1>CUP<span>/</span>&<span>/</span>CONE</h1>
                        <h1>CUP<span>/</span>&<span>/</span>CONE</h1>
                    </div>
                </div>
                    <div class="col-lg-6"><img class="img-fluid img-thumbnail" src="/images/ice_cream1.jpg">
                    </div>
            </div>
        </div>
    </section> 
    

    <section class="sectionMargin">
        <div class="container-fluid px-0">
            <div class="row align-items-center content">
                <div class="col-md-6 order-2 order-md-1">
                    <img class="img-fluid img-thumbnail" src="images/ice_cream2.jpg">
                </div>
                <div class="col-md-6 order-1 order-md-2">
                    <div class="row justify-content-center">
                        <div class="blurb text-center col-10 col-lg-8 mt-5">
                            <h2>ELEGANT</h2>
                            <hr class="slash-1">
                            <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, iste molestiae beatae, maiores deserunt in voluptatibus aspernatur architecto excepturi delectus soluta? Ipsa, deleniti dolorem hic consequatur repellat eveniet quidem voluptate necessitatibus dolorum delectus minus vitae, ut, veritatis sint ipsum magnam autem nam ex deserunt debitis eaque ratione! Nobis, quidem assumenda.</p>
                        </div>
                    </div>
                </div>      
            </div>
        </div>
    </section>
    
    <section class="sectionMargin">
        <div class="container-fluid px-0">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="row justify-content-center">
                        <div class="blurb text-center col-10 col-lg-8 mt-5">
                            <h2>CHARMING</h2>
                            <hr class="slash-1">
                            <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, iste molestiae beatae, maiores deserunt in voluptatibus aspernatur architecto excepturi delectus soluta? Ipsa, deleniti dolorem hic consequatur repellat eveniet quidem voluptate necessitatibus dolorum delectus minus vitae, ut, veritatis sint ipsum magnam autem nam ex deserunt debitis eaque ratione! Nobis, quidem assumenda.</p>
                        </div>
                    </div>                   
                </div>
                <div class="col-md-6">
                    <img class="img-fluid img-thumbnail" src="/images/ice_cream4.jpg">
                </div>                    
            </div>
        </div>
    </section>

    <section class="sectionMargin mb-md-0">
        <div class="container-fluid px-0">
            <div class="row align-items-center content">
                <div class="col-md-6 order-2 order-md-1">
                    <img class="img-fluid img-thumbnail" src="/images/ice_cream3.jpg">
                </div>
                <div class="col-md-6 order-1 order-md-2">
                    <div class="row justify-content-center">
                        <div class="blurb text-center col-10 col-lg-8 mt-5">
                            <h2>SIMPLISTIC</h2>
                            <hr class="slash-1">
                            <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, iste molestiae beatae, maiores deserunt in voluptatibus aspernatur architecto excepturi delectus soluta? Ipsa, deleniti dolorem hic consequatur repellat eveniet quidem voluptate necessitatibus dolorum delectus minus vitae, ut, veritatis sint ipsum magnam autem nam ex deserunt debitis eaque ratione! Nobis, quidem assumenda.</p>
                        </div>
                    </div>
                </div>  
            </div>
        </div>
    </section>

<%- include("partials/footer") %>