<%- include("partials/header") %>

<h1>
    Welcome To the News Page, Where blog posts will be posted with catchy titles and placeholder text.
    explain how the news page is optional and how a cms can be used to post content.
</h1>

<%- include("partials/footer") %>