@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Merriweather:wght@400;700;900&family=Nunito:wght@200;300;400;700&display=swap");
body {
  background: radial-gradient(circle, #eeaeca 0%, #94bbe9 100%);
  font-family: "Nunito", sans-serif;
  font-weight: 100; }

/* ===============
Navbar Styling
================ */
#headerNav {
  font-size: 1.5rem; }
  #headerNav .navbar-brand {
    color: #7fffd4;
    font-size: 1.5rem; }
  #headerNav .nav-link {
    color: #555; }
    #headerNav .nav-link:hover {
      color: #f498b8; }
  #headerNav .scroll.scrolled {
    color: #fbdb99; }

.navbar.scrolled {
  background: #7fffd4;
  transition: background 1s; }

/* ===============
Layout Styling
================ */
.img-thumbnail {
  padding: 0;
  border: 1px solid #f498b8; }

.blurb {
  text-align: center; }
  .blurb > h2 {
    color: #7fffd4;
    font-weight: 100;
    font-size: 2.5rem;
    text-shadow: 2px 3px 3px #55555555; }
  .blurb > .lead {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    color: #fff;
    font-size: 1.275rem;
    line-height: 2rem;
    padding: 0 1rem; }

.btn {
  color: #fff;
  background-color: #94bef0;
  text-shadow: 1px 0.5px #555;
  border-color: #555;
  letter-spacing: 0.04rem; }
  .btn:hover {
    background-color: #fbdb99;
    color: #fff; }

hr {
  border: 0;
  margin: 1.35em auto;
  max-width: 100%;
  background-position: 50%;
  box-sizing: border-box; }
  hr.slash-1 {
    height: 10px;
    color: #fbdb99;
    background-image: linear-gradient(-45deg, transparent, transparent 25%, currentColor 25%, currentColor 50%, transparent 50%, transparent 75%, currentColor 75%);
    background-size: 10px 10px;
    width: 250px; }

/* ===============
Index Page CSS
================ */
#headingGroup > h1 {
  font-family: "Merriweather", sans-serif;
  color: #fbdb99;
  font-size: 4rem;
  font-weight: 100;
  text-shadow: 2px 4px 3px #55555555; }
  #headingGroup > h1 > span {
    color: #7fffd4; }
@media (max-width: 1200px) {
  #headingGroup > h1 {
    font-size: 3.3rem; } }

/* ===============
About Page Styling
================ */
#about-align {
  align-items: flex-start; }
  @media (min-width: 992px) {
    #about-align {
      align-items: center; } }

.about-image {
  border-radius: 50%; }

p.title {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: #555; }

ul.lead > li {
  list-style: none; }

/* ===============
News Page Styling
================ */
.post {
  background-color: #55555550;
  border: 1.5px solid #555;
  border-radius: 0.5rem;
  margin: 2rem 0;
  padding: 2rem; }
  .post > img {
    width: 600px;
    height: auto; }
  .post > p a {
    color: #fbdb99; }

.blurb.aside label, .blurb.aside ul {
  font-weight: 400;
  color: #555;
  padding: 0.5rem;
  list-style: none; }
.blurb.aside li {
  margin-bottom: 1rem;
  text-align: left; }
  .blurb.aside li > i {
    padding-right: 0.25rem; }

/* ===============
Admin Page Styling
================ */
#postForm > label {
  font-size: 1.2rem;
  width: 90%;
  text-align: left;
  padding-top: 0.5rem; }
#postForm > input {
  width: 90%; }
#postForm > textarea {
  width: 90%;
  height: 5rem; }

/* ===============
Footer Page Styling
================ */
#footer {
  font-weight: 300;
  color: #555;
  background-color: #94bef0;
  border: 1px solid #55555555; }

#tooltip > .tooltip-text {
  visibility: hidden;
  width: 200px;
  padding: 5px 0;
  border-radius: 0.5rem;
  color: #fff;
  background-color: #555;
  opacity: 0;
  transition: opacity 1s;
  z-index: 1;
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -100px; }
#tooltip > .tooltip-text::after {
  position: absolute;
  content: " ";
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #000 transparent transparent transparent; }
#tooltip:hover > .tooltip-text {
  visibility: visible;
  opacity: 1; }

/*# sourceMappingURL=style.css.map */
