@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Merriweather:wght@400;700;900&family=Nunito:wght@200;300;400;700&display=swap");
body {
  background: #eeaeca;
  background: radial-gradient(circle, #eeaeca 0%, #94bbe9 100%);
  font-family: "Nunito", sans-serif;
  font-weight: 100;
  height: 100%; }

#headerNav {
  font-size: 1.5rem;
  width: 100vw;
  padding: 0; }

#headerNav .navbar-brand {
  color: #7fffd4;
  font-size: 1.5rem; }

#headerNav .nav-link {
  color: #555; }

#headerNav .nav-link:hover {
  color: #f498b8; }

h1 span {
  color: #7fffd4;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3); }

.img-thumbnail {
  padding: 0;
  border: 1px solid #f498b8ee;
  margin-bottom: 0.5rem;
  width: 100%; }

#headingGroup > h1 {
  font-family: "Merriweather", sans-serif;
  color: #fbdb99;
  font-size: 4em;
  font-weight: 100;
  text-shadow: 2px 4px 3px rgba(250, 188, 70, 0.3); }

.navbar.scrolled {
  background: #7fffd4;
  transition: background 1s; }

#headerNav .scroll.scrolled {
  color: #fbdb99; }

@media (max-width: 1200px) {
  #headingGroup h1 {
    font-size: 3.3rem; } }
.blurb {
  text-align: center; }

.blurb h2 {
  color: #7fffd4;
  font-weight: 100;
  font-size: 2.5rem;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3); }

.blurb .lead {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  color: #fff;
  font-size: 1.275rem;
  line-height: 2rem;
  padding: 0 1rem; }

.sectionMargin {
  margin-top: 5rem; }

.btn {
  color: #fff;
  background-color: #94bef0;
  text-shadow: 1px 0.5px #555;
  border-color: #555;
  letter-spacing: 0.04rem; }
  .btn:hover {
    background-color: #fbdb99;
    color: #fff; }

hr {
  border: 0;
  margin: 1.35em auto;
  max-width: 100%;
  background-position: 50%;
  box-sizing: border-box; }
  hr.slash-1 {
    height: 10px;
    color: #fbdb99;
    background-image: linear-gradient(-45deg, transparent, transparent 25%, currentColor 25%, currentColor 50%, transparent 50%, transparent 75%, currentColor 75%);
    background-size: 10px 10px;
    width: 250px; }

/* ===============
About Page CSS
================ */
.about-image {
  border-radius: 50%; }

p.title {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: #555; }

#about-container {
  margin-top: 10%; }

#about-jumbo h1 {
  text-align: center; }

ul.lead > li {
  list-style: none; }

/* ===============
News Page CSS
================ */
.post {
  background-color: #55555550;
  border: 1.5px solid #555;
  border-radius: 0.5rem;
  margin: 2rem 0;
  padding: 2rem; }
  .post > img {
    width: 600px;
    height: auto; }
  .post > p a {
    color: #fbdb99; }

.blurb.aside label, .blurb.aside ul {
  font-weight: 400;
  color: #444;
  padding: 0.5rem;
  list-style: none; }
.blurb.aside li {
  margin-bottom: 1rem;
  text-align: left; }
  .blurb.aside li > i {
    padding-right: 0.25rem; }

/* ===============
Admin Page CSS
================ */
#postForm > label {
  width: 100%; }
#postForm > input {
  width: 70%; }
#postForm > textarea {
  width: 100%;
  height: 5rem; }

/* ===============
Footer Page CSS
================ */
#footer {
  text-align: center;
  width: 100%;
  color: black;
  background-color: #94bef0;
  border-top: 1px solid #55555555; }
  #footer .footer-item {
    width: 50%;
    margin-block-start: 0;
    margin-block-end: 0; }

/*# sourceMappingURL=style.css.map */
