body {
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    font-family: "Nunito", sans-serif;
    font-weight: 100;
}

#headerNav {
    font-weight: 100;
    font-size: 1.5rem;

}

#headerNav .navbar-brand {
    color: #7fffd4;
    font-size: 1.5rem;
}

#headerNav .nav-link {
color: white;
}

#headerNav .nav-link:hover {
    color: #f498b8;
}

h1 span {
    color: #7fffd4;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

.img-thumbnail {
    background-color: rgba(244,152,184, .5);
    padding: .1em;
    border: none;
}

#headingGroup h1 {
    font-family: "Merriweather", sans-serif;
    font-size: 4em;
    font-weight: 100;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

.navbar.scrolled {
    background: #7fffd4;
    transition: background 1s;
    
}
#headerNav .scroll.scrolled {
    color: #f498b8;
}

@media (max-width: 1200px) {
    #headingGroup h1 {
        font-size: 3.3rem;
    }
}

.blurb {
    color: #f498b8;
    
}

.blurb h2 {
    color: #7fffd4;
    font-weight: 100;
    font-size: 2.5rem;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

.blurb .lead {
    font-weight: 100;
    color: white;
    font-size: 1.125rem;
    line-height: 2rem;
    
}


.sectionMargin {
    margin-top: 5%;
    
}

hr {
    border: 0;
    margin: 1.35em auto;
    max-width: 100%;
    background-position: 50%;
    box-sizing: border-box;
  }
  .slash-1 {
    height: 10px;
    color: #f498b8;
    background-image: linear-gradient(-45deg,
      transparent,
      transparent 25%,
      currentColor 25%,
      currentColor 50%,
      transparent 50%,
      transparent 75%,
      currentColor 75%);
    background-size: 10px 10px;
    width: 250px;
  }